/* static/css/styles.css */
body {
    background-color: #e9ecef;
    font-family: 'Roboto', sans-serif;
}

/* h1 {
    color: #333;
} */

p {
    color: #666;
}

#home_banner{
    background-color: black;
    color: aqua;
    text-align: center;
    margin: auto;
    min-height: 40vh;
    width: 100vw;
    font-size: x-large;
    align-content: center;
}

.input_form{
    margin: auto;
}